.navbar {
  background-color: rosybrown;

  position: sticky;
  top: 0;
}
.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;

  max-width: 80rem;
  margin: 0 auto;
}
.logo-img {
  height: 50px;
  border-radius: 0.5rem;
}
.logo-text {
  font-size: 1.5rem;
}
.logo {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  color: white;
}

.logo:hover {
  background-color: bisque;
  color: rosybrown;
}

.title {
  color: rosybrown;
}
.subtitle {
  color: burlywood;
}

.text {
  color: rosybrown;
}
.line {
  border-bottom: 50px rosybrown;
}

.navbar-dx {
  display: flex;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}
.navbar-link:hover {
  background-color: bisque;
  color: rosybrown;
}

.hero-image {
  width: 24rem;
  height: 24rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.hero {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;

  max-width: 80rem;
  margin: 0 auto;
}

.hero-content {
}
